section.items-list ul {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    p.loading {
        font-size: 1.7rem;
        color: #282828c2;
        font-weight: 600;
        margin: 0px 20px 15px 20px;
    }
}